<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer>
    <app-sidebar (setHeader)="changeHeader($event)" (onClose)="drawer.close()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="12" rowHeight="2:1">
      <mat-grid-tile colspan="1">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon> menu </mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="10">
        <h1> {{currentHeader}} </h1>
      </mat-grid-tile>
    </mat-grid-list>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
