<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer>
    <app-sidebar (setHeader)="changeHeader($event)" (onClose)="drawer.close()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list cols="12" rowHeight="2:1">
      <mat-grid-tile colspan="12">
        <mat-toolbar>
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
            <mat-icon>menu</mat-icon>
          </button>
          <span>{{currentHeader}}</span>
        </mat-toolbar>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
