<h2> Меню </h2>
<mat-list>
  <mat-list-item>
    <button mat-button disabled> Показатели проекта </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> ОТиПБ </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> Протокол поручения </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> Ключевые события </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> Проблемные вопросы </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button [class.selected-button]="buttonSelectState" (click)="changeSubMenu()"> Персонал и техника </button>
      <mat-list *ngIf="submenu">
        <mat-list-item>
          <button matListItemLine mat-button (click)="redirect('Дашборд')" routerLink="/dashboard"> Персонал и техника </button>
        </mat-list-item>
        <mat-list-item>
          <button matListItemLine mat-button> Ввод факта </button>
        </mat-list-item>
        <mat-list-item>
          <button matListItemLine mat-button (click)="redirect('Отчет')" routerLink="/exchange-rate"> Формирование отчета </button>
        </mat-list-item>
        <mat-list-item>
          <button matListItemLine mat-button> Плановые показатели </button>
        </mat-list-item>
        <mat-list-item>
          <button matListItemLine mat-button> Справочники </button>
        </mat-list-item>
      </mat-list>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> Риски </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> ГПКС </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button disabled> КПЭ проектной команды </button>
  </mat-list-item>
</mat-list>
